<div class="col-md-4 border">
  <h3>Channels</h3>
  <ul>
    <% @channels.each do |c| %>
      <li class="list-unstyled text-muted">
        <%=  c.channel %>
      </li>
    <% end %>  
    <% if has_role?(:admin) %>
      <%= link_to "New channel", new_channel_path, class: "btn btn-info mt-5" %>
    <% end %>
  </ul>
</div>
