<div class="row">
  <%= render "shared/discussion" %>
  <%= render "shared/sidebar" %>
</div>
<div class="row">
  <% @discussions.each do |discussion| %>
    <strong><%= discussion.title %></strong>>
    <p><%= discussion.content %></p>
  <% end %>
</div>
